<header class="mobile-top">

  <div class="left">
    <img src="/images/logoImage.png" alt="logo" class="logo" routerLink="/"/>
  </div>

  <div class="search-wrapper">
    <mat-icon class="lens-icon">search</mat-icon>
    <input type="text" placeholder="Cerca..." class="search-input" />
  </div>


  <div class="right">
    <button class="burger-btn">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

</header>


<!-- BOTTOM NAVIGATION -->
<nav class="mobile-bottom-nav">
  <a routerLink="/fai" routerLinkActive="active">
    <mat-icon>group</mat-icon>
    <span>Fai Network</span>
  </a>

  <a routerLink="/events" routerLinkActive="active">
    <mat-icon>event</mat-icon>
    <span>Eventi</span>
  </a>

  <a routerLink="/share" routerLinkActive="active">
    <mat-icon>share</mat-icon>
    <span>Share</span>
  </a>

  <a routerLink="/instagram" routerLinkActive="active">
    <mat-icon>photo_camera</mat-icon>
    <span>Instagram</span>
  </a>

  <a routerLink="/partners" routerLinkActive="active">
    <mat-icon>handshake</mat-icon>
    <span>Partners</span>
  </a>

  <a routerLink="/contact" routerLinkActive="active">
    <mat-icon>mail</mat-icon>
    <span>Contatti</span>
  </a>
</nav>
