<header class="mobile-top">

  <div class="left">
    <img src="/images/logoImage.png" alt="logo" class="logo" 
    [class.logo-animating]="logoAnimating"
    [class.logo-reverse]="logoReversing">
  </div>

  <div class="search-wrapper">
    <mat-icon class="lens-icon">search</mat-icon>
    <input type="text" placeholder="Cerca..." class="search-input" />
  </div>

  <div class="right">

   <div class="lang-wrapper"
     (mouseenter)="onLangEnter()"
     (mouseleave)="onLangLeave()"
     (click)="toggleLanguageMenu($event)">

  <mat-icon class="lang-icon"
            [class.open]="isLanguageMenuOpen"
            [class.hover]="isLanguageHovered">
    language
  </mat-icon>
</div>

@if (isLanguageMenuOpen) {
  <div class="lang-menu" (click)="$event.stopPropagation()">
    <button (click)="switchLanguage('it', $event)" [class.active]="currentLanguage === 'it'">🇮🇹 Italiano</button>
    <button (click)="switchLanguage('pl', $event)" [class.active]="currentLanguage === 'pl'">🇵🇱 Polski</button>
    <button (click)="switchLanguage('en', $event)" [class.active]="currentLanguage === 'en'">🇬🇧 English</button>
  </div>
}

    <button class="burger-btn" type="button" (click)="toggleMobileMenu()">
      <mat-icon>menu</mat-icon>
    </button>

  </div>

</header>
<nav class="mobile-menu" [class.open]="isMobileMenuOpen">

  <button class="close-btn" type="button" (click)="toggleMobileMenu()">
    <mat-icon>close</mat-icon>
  </button>

  <div class="menu-title brand">Menu</div>
  <a routerLink="/login" class="hero-login-btn" (click)="toggleMobileMenu()">Log in to your account</a>

  <ul>
    <li><a routerLink="/home" (click)="toggleMobileMenu()">Home</a></li>
    <li><a routerLink="/products">Prodotti</a></li>
    <li><a routerLink="/about">Chi siamo</a></li>
    <li><a routerLink="/contact">Contatti</a></li>
  </ul>
</nav>


<!-- BOTTOM NAVIGATION -->
<nav class="mobile-bottom-nav">
  <a routerLink="/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>

  <a routerLink="/events" routerLinkActive="active">
    <mat-icon>event</mat-icon>
    <span>Eventi</span>
  </a>

  <a routerLink="/share" routerLinkActive="active" (click)="share()">
    <mat-icon>share</mat-icon>
    <span>Share</span>
  </a>

  <a routerLink="/instagram" routerLinkActive="active">
    <mat-icon>photo_camera</mat-icon>
    <span>Instagram</span>
  </a>

  <a routerLink="/partners" routerLinkActive="active">
    <mat-icon>handshake</mat-icon>
    <span>Partners</span>
  </a>

  <a routerLink="/contact" routerLinkActive="active">
    <mat-icon>mail</mat-icon>
    <span>Contatti</span>
  </a>
</nav>
