<div class="related-carousel-wrapper">

  <!-- Arrows -->
  <button class="carousel-arrow left">‹</button>
  <button class="carousel-arrow right">›</button>

  <!-- Scroll Row -->
  <div class="related-scroll-row" #relatedRow>

    @for (item of loopedItems; track item.slug + (item._clone ? '-clone' : '')) {

      <div class="related-card">

        <app-discover-card
          class="discover-wrapper"
          [title]="item.title"
          [description]="item.text"
          [image]="item.img"
          [region]="regionSlug"
          [category]="item.category"
          [slug]="item.slug"
          [animateOnClick]="true">
        </app-discover-card>

      </div>

    }

  </div>
</div>
