<div class="discover-veneto-wrapper snap-section">
  <div class="hero-image"  alt="discover-veneto">
      <p class="h-hero">Discover Veneto</p>
  </div>
  
  <!-- Main Cities -->
    <h1 class="h-title">Main Cities</h1>
  <div class="dv-cities">

  <!-- TOP ROW — 2 STATIC CARDS -->
  <div class="dv-top-row">
    <div class="dv-card">
      <div class="card-image" style="background-image: url('images/venezia.webp')" alt="Venice"></div>
      <h2>Venice</h2>
      <p>The city of canals, art, and romance. St. Mark’s Square, Doge’s Palace, Rialto Bridge, Murano.</p>
    </div>

    <div class="dv-card">
      <div class="card-image" style="background-image: url('images/verona.webp')" alt="Verona"></div>
      <h2>Verona</h2>
      <p>The city of love and Roman‑Scaliger heritage. The Arena, Juliet’s House, historic center.</p>
    </div>
  </div>


  <div class="dv-scroll-wrapper">
  <div class="carousel-arrow left">‹</div>
  <div class="carousel-arrow right">›</div>

 <div class="dv-scroll-row">

  <!-- COPY 1 -->
@for (c of cities; track c) {
  <div class="dv-card">
    <div class="card-image" [style.background-image]="'url(' + c.img + ')'"></div>
    <h2>{{ c.title }}</h2>
    <p>{{ c.text }}</p>
  </div>
}

<!-- COPY 2 -->
@for (c of cities; track c) {
  <div class="dv-card">
    <div class="card-image" [style.background-image]="'url(' + c.img + ')'"></div>
    <h2>{{ c.title }}</h2>
    <p>{{ c.text }}</p>
  </div>
}

<!-- COPY 3 -->
@for (c of cities; track c) {
  <div class="dv-card">
    <div class="card-image" [style.background-image]="'url(' + c.img + ')'"></div>
    <h2>{{ c.title }}</h2>
    <p>{{ c.text }}</p>
  </div>
}
    </div>
    </div>  

</div>



  <!-- TERRITORY -->
  <h1 class="h-title">The Territory</h1>

   <div class="dv-territory-wrapper">
    <div class="dv-card">
      <div class="card-image" style="background-image: url('images/villages.webp')" alt="villages"></div>
      <h2>Villages</h2>
      <p>Asolo, Marostica, Bassano del Grappa: historic villages, medieval castles, and unique landscapes.</p>
    </div>

    <div class="dv-card">
      <div class="card-image" style="background-image: url('images/landscape.webp')" alt="Landscape"></div>
      <h2>Landscapes</h2>
      <p>Dolomites, Lake Garda, Adriatic coast: enchanting mountains, lakes, hills, and plains.</p>
    </div>
  </div>


  <!-- GASTRONOMIA -->
  <h1 class="h-title">Gastronomy</h1>
  <div class="dv-gastronomy-wrapper">
    <div class="dv-card">
      <div class="card-image" style="background-image: url('images/food&beverage.webp')" alt="food&beverage"></div>
      <h2>Food & Beverages</h2>
      <p>Discover the soul of Italian cuisine — from traditional dishes to modern interpretations, all crafted with passion and the finest ingredients.</p>
    </div>

    <div class="dv-card">
      <div class="card-image" style="background-image: url('images/products.webp')" alt="Products"></div>
      <h2>Products</h2>
      <p>Discover the unique products of Veneto — from traditional crafts to modern innovations.</p>
    </div>
  </div>

   <!-- Culture -->
  <h1 class="h-title">Culture</h1>

   <div class="dv-culture-wrapper">
    <div class="dv-card">
      <div class="card-image" style="background-image: url('images/art.webp')" alt="art"></div>
      <h2>Art</h2>
      <p>Discover the soul of Italian art — from Renaissance frescoes and sacred church interiors to timeless landscapes shaped by history, light, and beauty.</p>
    </div>

    <div class="dv-card">
      <div class="card-image" style="background-image: url('images/unesco.webp')" alt="Unesco"></div>
      <h2>UNESCO Sites</h2>
      <p>Venezia, Padova, Dolomiti: world heritage sites.</p>
    </div>
  </div>

   <!-- ECONOMIA -->
  <h1 class="h-title">Economy</h1>

   <div class="dv-economy-wrapper">
    <div class="dv-card">
      <div class="card-image" style="background-image: url('images/craft.webp')" alt="craft"></div>
      <h2>Craft</h2>
      <p>Traditional Italian craftsmanship: ceramics, glassmaking, wood carving, textiles, and timeless artisan techniques passed down through generations.</p>
    </div>

    <div class="dv-card">
      <div class="card-image" style="background-image: url('images/companies.webp')" alt="Businesses"></div>
      <h2>Businesses</h2>
      <p>Local businesses: from industry and design to agriculture and craftsmanship, a diverse economy rooted in tradition and innovation.</p>
    </div>
  </div>

</div>
