.video-container {
  position: relative;
  width: 100%;
  margin-top: 10vh;
  height: 90dvh; /* 100% viewport height meno nav */
  overflow: scroll;
  z-index: -1;
  background-color: var(--color-white);
  
}
.logo-overlay {
  position: relative;
  width: 100%;
  height: 90dvh; /* 100% viewport height meno nav */
  overflow: scroll;
  z-index: -1;
}
img.logo-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: cover; /* il video riempie il container */
}

.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}