<div class="home-page">

  <div class="hero-content">
    <img src="/images/logoText.png" alt="Image MaWePolo" class="hero-logo" />
  </div>

  <section class="discover-section">

    <div class="discover-card veneto">
      <img src="/images/veneto.jpg" alt="Image Veneto" />
      <h2>Discover Veneto</h2>
      <p>Opportunities between Małopolska & Veneto.</p>
      <button class="btn-blue">Explore</button>
    </div>

    <div class="discover-card malopolska">
      <img src="/images/malopolska.jpg" alt="Image Małopolska" />
      <h2>Discover Małopolska</h2>
      <p>Opportunities between Veneto & Małopolska.</p>
      <button class="btn-yellow">Explore</button>
    </div>

  </section>

</div>
