<div class="home-page">

  <!-- SECTION 1 — HERO + DISCOVER -->
  <section class="snap-section section-hero-discover">

    <!-- HERO -->
    <div class="hero-content">
      <img src="/images/logoText.png" alt="Image MaWePolo" class="hero-logo" />

      @if (!profile()) {
        <a routerLink="/login" class="hero-login-btn">
          {{ 'home.hero.login' | translate }}
        </a>
      } @else {
        <div class="hero-login-btn">
          {{ 'home.hero.welcome' | translate:{ name: profile().full_name } }}
        </div>
      }

      <h3 class="home-title">
        {{ 'home.hero.title' | translate }}
      </h3>
    </div>

    <!-- DISCOVER -->
    <div class="discover-section">
      <div class="discover-card veneto">
      <app-discover-card
        [title]="'home.discover.veneto.title' | translate"
        [description]="'home.discover.veneto.text' | translate"
        image="/images/home_discover_veneto.webp"
        region="veneto"
        [animateOnClick]="true"
        (navigate)="animateAndGo($event)"
      ></app-discover-card>




      </div>
      <div class="discover-card malopolska">
      <app-discover-card
          [title]="'home.discover.malopolska.title' | translate"
          [description]="'home.discover.malopolska.text' | translate"
          image="/images/home_discover_malopolska.webp"
          region="malopolska"
          [animateOnClick]="true"
          (navigate)="animateAndGo($event)"
        ></app-discover-card>

      </div>

    </div>

  </section>

  <!-- SECTION 2 — WHY MAWEPOLO -->
  <section class="snap-section why-section">
    <div class="why-content">
      <h2>
        {{ 'home.why.title' | translate }}
      </h2>
      <p>
        {{ 'home.why.text' | translate }}
      </p>
    </div>
  </section>

</div>
